// Specific CSS for your home-page

.iPhone-13 {
  width: 392px;
  margin: 0 auto;
}

.home-background-top {
  background-image: linear-gradient(to bottom right, #1FE4DA, #A2EEEB);
  height: 778px;
}

.home-logo img {
  position: relative;
  left: 12px;
  top: 24px;
  width: 40px;
}

.home-graphics img {
  position: relative;
  left: 4px;
  top: 98px;
  width: 382px;
}

.home-infos {
  position: relative;
  top: 118px;
  left: 30px;
  width: 320px;
}

.home-infos h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 60px;
  color: #261127;
}

.home-infos p{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #261127;
}

.home-btn {
  position: relative;
  top: 140px;
  left: 30px;
  width: fit-content;
  transition: 0.4s ease;
}

.home-btn:hover {
  background-color: #63F851;
  color: #261127;
  border-radius: 8px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.btn-get-started {
  background: #99F88D;
  padding: 20px 28px;
  border-radius: 8px;
  color: #261127;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  transition: 0.4s ease;
}

.home-background-bottom {
  background-image: linear-gradient(to bottom right, #75F864, #99F88D);
  height: 778px;
}

.home-nav {
  position: relative;
  top: 30px;
  left: 24px;
  width: fit-content;
  border-radius: 50%;
  transition: 0.4s ease;
}

.home-nav:hover {
  background-color: #F3F3F3;
}

.nav-btn {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #888888;
  transition: 0.4s ease;
}

.fa-bars {
  position: relative;
  top: -4.2px;
  left: -5.6px;
 }

.home-search-text h4 {
  position: relative;
  top: 68px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #261127;
}

.home-search-bar {
  position: relative;
  top: 80px;
  height: 36px;
  width: 55%;
  margin: 0 auto;
  border-radius: 12px;
  background-color: white;
  box-shadow: 2px 2px 2px #888888;
}

.home-search-bar p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  position: relative;
  top: 6px;
  left: 14px;
  color: #D0D0D0;
}

.fa-magnifying-glass {
  position: relative;
  top: -40px;
  left: 170px;
}

.home-globe {
  margin: 100px 0px -128px 5px;
}

.home-earth-shadow img {
  position: relative;
  top: 128px;
  left: 100px;
  width: 200px;
}

.home-filters-box {
  position: relative;
  top: 140px;
  height: 179px;
  width: 75%;
  margin: 0 auto;
  border-radius: 12px 12px 0px 0px;
  background-color: white;
  box-shadow: 3px 0px 3px #888888;
  display: block;
}

.home-filters-box-top {
  margin: 0 auto;
  width: 100%;
  display: flex;
}

.home-filters-box-top p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #D0D0D0;
  margin-top: 10px;
  position: relative;
  left: 32px;
}

.fa-filter {
  position: relative;
  left: 172px;
}

.home-filters-box-top hr {
  position: relative;
  top: 26px;
  left: -30px;
  width: 300px;
}

.home-filters-box-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px 0px;
  position: relative;
  margin: 8px 16px;
}

.home-filters-box-bottom p {
  color: #D0D0D0;
  font-size: 12px;
}

.home-filters-grid {
  text-align: center;
  line-height: 20%;
  width: auto;
  margin: 0px 12px 0px 12px;
}

.home-filters-grid a {
  text-decoration: none;
}

.fa-fish {
  font-size: 18px;
  transition: 0.3s;
}

.fa-leaf {
  font-size: 18px;
  transition: 0.3s;
}

.fa-fish:hover {
  color: #848484;
}

.fa-leaf:hover {
  color: #848484;
}
