// Specific CSS for your home-page

.iPhone-13 {
  width: 390px;
  margin: 0 auto;
}

.home-background-top {
  background-image: linear-gradient(to bottom right, #1FE4DA, #A2EEEB);
  height: 778px;
}

.home-logo img {
  position: relative;
  left: 12px;
  top: 24px;
  width: 40px;
}

.home-graphics img {
  position: relative;
  left: 4px;
  top: 98px;
  width: 382px;
}

.home-infos {
  position: relative;
  top: 118px;
  left: 30px;
  width: 320px;
}

.home-infos h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 60px;
  color: #261127;
}

.home-infos p{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #261127;
}

.home-btn {
  position: relative;
  top: 140px;
  left: 30px;
  width: fit-content;
  transition: 0.4s ease;
}

.home-btn:hover {
  background-color: #63F851;
  color: #261127;
  border-radius: 8px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.btn-get-started {
  background: #99F88D;
  padding: 20px 28px;
  border-radius: 8px;
  color: #261127;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  transition: 0.4s ease;
}

.home-background-bottom {
  background-image: linear-gradient(to bottom right, #75F864, #99F88D);
  height: 844px;
}




.fa-bars {
  position: relative;
  top: -4.2px;
  left: -5.6px;
 }

.home-search-text h4 {
  position: relative;
  top: 68px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #261127;
}

.home-search-bar {
  position: relative;
  top: 80px;
  height: 36px;
  width: 55%;
  margin: 0 auto;
  border-radius: 12px;
  background-color: white;
  box-shadow: 2px 2px 2px #888888;
}

.home-search-bar p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  position: relative;
  top: 6px;
  left: 14px;
  color: #D0D0D0;
}

.fa-magnifying-glass {
  position: relative;
  top: -40px;
  left: 170px;
}

.home-globe {
  margin: 100px 0px -128px 5px;
}

.home-earth-shadow img {
  position: relative;
  top: 128px;
  left: 100px;
  width: 200px;
}

.home-filters-box {
  position: relative;
  top: 140px;
  height: 179px;
  width: 75%;
  margin: 0 auto;
  border-radius: 12px 12px 0px 0px;
  background-color: white;
  box-shadow: 3px 0px 3px #888888;
  display: block;
}

.home-filters-box-top {
  margin: 0 auto;
  width: 100%;
  display: flex;
}

.home-filters-box-top p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #D0D0D0;
  margin-top: 10px;
  position: relative;
  left: 32px;
}

.fa-filter {
  position: relative;
  left: 172px;
}

.home-filters-box-top hr {
  position: relative;
  top: 26px;
  left: -30px;
  width: 300px;
}

.home-filters-box-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px 0px;
  position: relative;
  margin: 8px 16px;
}

.home-filters-box-bottom p {
  color: #D0D0D0;
  font-size: 12px;
}

.home-filters-grid {
  text-align: center;
  line-height: 20%;
  width: auto;
  margin: 0px 12px 0px 12px;
}

.home-filters-grid a {
  text-decoration: none;
}

.fa-fish {
  font-size: 18px;
  transition: 0.3s;
}

.fa-leaf {
  font-size: 18px;
  transition: 0.3s;
}

.fa-seedling {
  font-size: 18px;
  transition: 0.3s;
}

.fa-cow {
  font-size: 18px;
  transition: 0.3s;
}

.fa-bread-slice {
  font-size: 18px;
  transition: 0.3s;
}

.fa-ice-cream {
  font-size: 18px;
  transition: 0.3s;
}

.fa-fish:hover {
  color: #E36397;
}

.fa-leaf:hover {
  color: #E36397;
}

.fa-seedling:hover {
  color: #E36397;
}

.fa-seedling.selected {
  color: #E36397;
}

.fa-cow:hover {
  color: #E36397;
}

.fa-bread-slice:hover {
  color: #E36397;
}

.fa-ice-cream:hover {
  color: #E36397;
}

.mapboxgl-canvas {
  border-radius: 35%;
}


.home-nav {
  position: relative;
  top: 34px;
  left: 34px;
  width: fit-content;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.home-nav:hover {
  background-color: #F3F3F3;
}

.nav-btn {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #888888;
  transition: 0.4s ease;
}

.home-tab-menu {
  background-color: white;
  border-radius: 25px;
  box-shadow: 2px 2px 2px #888888;
  width: 240px;
  transition: all 0.4s ease;
}

// .home-tab-menu-list {
//   list-style: none;
//   display: flex;
//   justify-content: space-between;
//   gap: 4px;
// }

// .home-tab-menu-item {
//   display: flex;
//   gap: 6px;
//   align-items: center;
//   color: #261127;
//   font-family: 'Raleway', sans-serif;
//   font-size: 13px;
//   padding: 6px 12px;
//   border-radius: 20px;
//   cursor: pointer;
//   transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
// }

// .home-tab-menu-icon {
//   transform: translateX(2px);
// }

// .home-tab-menu-text {
//   display: none;
// }

// .home-tab-menu-active {
//   background-color: lightblue;
//   padding: 6px 12px;
// }

// .home-tab-menu-active .home-tab-menu-text{
//   display: block;
// }
