// Specific CSS for your home-page

@media (max-width: 480px) {
  .iPhone-13 {
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 480px) {
  .iPhone-13 {
    width: 390px;
    margin: 0 auto;
  }
}

.iPhone-13-home-container {
  width: 100%;
  height: 800px;
  background-color: #FFFFFF;
  overflow: scroll;
}

.iPhone-13-devise {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

.home-background-top {
  height: 768px;
  margin-top: -30px;
  background-image: url(home-bg-1.eps.png);
  background-position: center;
  background-repeat: no-repeat;
  animation: change infinite ease-in-out;
  animation-duration: 30s;

  @keyframes change {
    0% {
    background-image: url(home-bg-1.eps.png);
    }
    25% {
    background-image: url(home-bg-2.eps.png);
    }
    50% {
    background-image: url(home-bg-3.eps.png);
    }
    75% {
    background-image: url(home-bg-4.eps.png);
    }
    100% {
    background-image: url(home-bg-1.eps.png);
    }
  }
}

// .home-logo img {
//   position: relative;
//   left: 12px;
//   top: 24px;
//   width: 40px;
// }

.home-graphics img {
  position: relative;
  left: 4px;
  top: 34px;
  width: 98%;
  opacity: 0;
}

.home-infos {
  position: relative;
  top: 110px;
  left: 30px;
  width: 80%;
}

.home-infos h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 53px;
  color: #261127;
}

.home-infos p{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #261127;
}

.home-btn {
  position: relative;
  top: 120px;
  left: 30px;
  width: fit-content;

}
// transition: 0.4s ease;

// .home-btn:hover {
//   background-color: #3E4279;
//   color: #261127;
//   border-radius: 8px;
//   font-family: 'Raleway', sans-serif;
//   font-size: 20px;
// }

.btn-get-started {
  background: #4E4F92;
  padding: 20px 28px;
  border-radius: 8px;
  color: #FEFAF3;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;

}

.btn-get-started:hover {
  background: #4E4F92 !important;
  color: #FEFAF3 !important;
  text-decoration: none;
}
// transition: 0.4s ease;

.home-background-bottom {
  height: 768px;
  // background-color: #FFBF9C;
  background-image: linear-gradient(#FECB03, #FED73D);
  //url("https://media.idownloadblog.com/wp-content/uploads/2021/01/Transition-Space-iphone-wallpaper-AR72014-idownloadblog-green.jpg")
}


.mapboxgl-ctrl-attrib-button {
  background-color: #FFCE1C;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact {
  background-color: #FFCE1C;
}

a.mapboxgl-ctrl-logo {
  background-color: #FFCE1C;
}

.fa-bars {
  position: relative;
  top: -4.2px;
  left: -5.6px;
 }

.home-search-text h2 {
  position: relative;
  top: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  color: #261127;
}

.home-search-bar {
  position: relative;
  top: 60px;
  height: 36px;
  width: 55%;
  margin: 0 auto;
  border-radius: 12px;
  background-color: white;
  box-shadow: 2px 2px 2px #888888;
}

.home-search-bar p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  position: relative;
  top: 6px;
  left: 14px;
  color: #D0D0D0;
}

.fa-magnifying-glass {
  position: relative;
  top: -40px;
  left: 170px;
}

.home-globe {
  margin: 40px 0px -128px 5px;
}

// .home-earth-shadow img {
//   position: relative;
//   top: 128px;
//   left: 100px;
//   width: 200px;
// }

.home-pan {
  position: relative;
  bottom: -115px;
  right: 18px;
  display: flex;
  justify-content: space-between;
  height: 90px;
  background-image: url(home-pan-3.eps.png);
  background-position: center;
  background-repeat: no-repeat;
//   animation: change infinite ease-in-out;
//   animation-duration: 10s;
//   z-index: 98;
}

.home-filters-box {
  position: relative;
  bottom: -116px;
  height: 180px;
  width: 75%;
  margin: 0 auto;
  border-radius: 12px 12px 0px 0px;
  background-color: white;
  box-shadow: 3px 0px 3px #888888;
  display: block;
}

.home-filters-box-top {
  margin: 20px auto;
  width: 100%;
  display: flex;
}

.home-filters-box-top p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #D0D0D0;
  margin-top: 10px;
  position: relative;
  left: 32px;
}

.fa-filter {
  position: relative;
  left: 172px;
}

.home-filters-box-top hr {
  position: relative;
  top: 26px;
  left: -30px;
  width: 300px;
}

.home-filters-box-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px 0px;
  position: relative;
  margin: 8px 16px;
}

.home-filters-box-bottom p {
  color: #D0D0D0;
  font-size: 12px;
}

.home-filters-grid {
  text-align: center;
  line-height: 20%;
  width: auto;
  margin: 0px 12px 0px 12px;
}

.home-filters-grid p {
  color:#D0D0D0;
}

.home-filters-grid a {
  text-decoration: none;
}

.fa-fish {
  font-size: 18px;
  transition: 0.3s;
}

.fa-leaf {
  font-size: 18px;
  transition: 0.3s;
}

.fa-seedling {
  font-size: 18px;
  transition: 0.3s;
}

.fa-cow {
  font-size: 18px;
  transition: 0.3s;
}

.fa-bread-slice {
  font-size: 18px;
  transition: 0.3s;
}

.fa-ice-cream {
  font-size: 18px;
  transition: 0.3s;
}

.fa-fish:hover {
  color: #E36397;
}

.fa-fish.selected {
  color: #E36397;
}

.fa-leaf:hover {
  color: #E36397;
}

.fa-leaf.selected {
  color: #E36397;
}

.fa-seedling:hover {
  color: #E36397;
}

.fa-seedling.selected {
  color: #E36397;
}

.fa-cow:hover {
  color: #E36397;
}

.fa-cow.selected {
  color: #E36397;
}

.fa-bread-slice:hover {
  color: #E36397;
}

.fa-bread-slice.selected {
  color: #E36397;
}

.fa-ice-cream:hover {
  color: #E36397;
}

.fa-ice-cream.selected {
  color: #E36397;
}

.mapboxgl-canvas {
  border-radius: 35%;
}



.home-nav {
  position: relative;
  top: 34px;
  left: 34px;
  background-color: white;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.home-nav:hover {
  background-color: #F3F3F3;
}

.nav-btn {
  background-color: white;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #888888;
  transition: 0.4s ease;
}

.nav-btn:hover {
  background-color: #F3F3F3;
}

.home-menu-nav {
  position: relative;
  top: 6px;
  left: 30px;
  background-color: white;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transition: all 0.4s ease;
  margin-left: 28px;
}

.home-menu-nav:hover {
  background-color: #F3F3F3;
}

.nav-menu-btn {
  position: relative;
  top: 0px;
  left: 0px;
  background-color: white;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #888888;
  transition: 0.4s ease;
}

.nav-menu-btn:hover {
  background-color: #F3F3F3;
}

.home-tab-menu {
  background-color: white;
  border-radius: 25px;
  box-shadow: 2px 2px 2px #888888;
  width: 208px;
  transition: all 0.4s ease;
}

.home-tab-menu:hover {
  background-color: white;
}

.home-tab-menu-item {
  display: inline-block;
}

.fa-heart-nav {
  color: #261127;
  position: relative;
  top: -4px;
  left: -6px;
}

.fa-music-nav {
  color: #261127;
  position: relative;
  top: -4px;
  left: -6px;
}

.fa-user-nav {
  color: #261127;
  position: relative;
  top: -4px;
  left: -6px;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: -28px;
}










// .container-responsive {
//   width: 100%;
//   height: 100vh;
//   margin: 0 auto;
// }

// @media (min-width: 420px) {
//   .container-responsive {
//     width: 390px;
//     height: 704px;
//     margin: 0 auto;
//     overflow: scroll;
//   }
// }

// .top-navbar-responsive {
//   width: 100%;
//   position: sticky;
//   top: 0%;
// }

// @media (min-width: 420px) {
//   .bottom-navbar-responsive {
//     width: 100%;
//     position: absolute;
//     top: 768px;
//     background-color: white;
//     height: 64px;
//     border-top: 0.5px solid #888888;
//     z-index: 99;
//   }
// }

// .container-home-top {
//     height: 100%;
//     background-image: url(home-bg-1.eps.png);
//     background-size: 100%;
//     background-position: center;
//     background-repeat: no-repeat;
//     animation: change infinite ease-in-out;
//     animation-duration: 30s;
//   }

// @keyframes change {
//   0% {
//     background-image: url(home-bg-1.eps.png);
//   }
//   25% {
//     background-image: url(home-bg-2.eps.png);
//   }
//   50% {
//     background-image: url(home-bg-3.eps.png);
//   }
//   75% {
//     background-image: url(home-bg-4.eps.png);
//   }
//   100% {
//     background-image: url(home-bg-1.eps.png);
//   }
// }

// .bottom-navbar-responsive {
//   width: 100%;
//   position: sticky;
//   top: 100%;
//   background-color: white;
//   height: 64px;
//   border-top: 0.5px solid #888888;
//   z-index: 98;
//   display: flex;

//   .bottom-navbar-list {
//     width: 95%;
//     margin: 0 auto;
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
//     list-style: none;
//     text-align: center;
//     align-items: center;

//     li {
//       display: inline-block;
//     }
//   }
// }

// .music-btn-fake {
//   background-color: black;
//   opacity: 0.1;
//   width: 40px;
//   height: 40px;
//   position: fixed;
//   right: 106px;
//   bottom: 12px;
//   z-index: 99;
// }

// .home-headline {
//   width: 85%;
//   margin-top: 300px;
//   margin-left: 30px;

//   h3 {
//     font-family: 'Raleway', sans-serif;
//     font-weight: 900;
//     font-size: 52px;
//     color: #261127;
//   }

//   p {
//     font-family: 'Raleway', sans-serif;
//     font-size: 20px;
//     color: #261127;
//   }
// }

// .home-start-btn-box {
//   margin-top: 50px;
//   margin-left: 30px;
//   width: fit-content;
//   transition: 0.4s ease;
// }

// .home-start-btn {
//   background: #99F88D;
//   padding: 20px 28px;
//   border-radius: 8px;
//   color: #261127;
//   font-family: 'Raleway', sans-serif;
//   font-size: 20px;
//   transition: 0.4s ease;
// }
