.fav {
  width: 90%;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.fav-card {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  border: 1px solid rgba(128,128,128,0.3);
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
}

.fav-img {
  border-radius: 50%;
  object-fit: cover;
  height:100px;
  width: 100px;
}
