.fav {
  width: 90%;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.fav-card {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  border: 1px solid rgba(128,128,128,0.3);
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
}

.fav-img {
  border-radius: 50%;
  object-fit: cover;
  height:100px;
  width: 100px;
}

.my-favourites-top {
  text-align: center;
  margin-top: 20px;
  // margin-left: 30px;
  font-family: 'Raleway', sans-serif;
}


.dish-reviews-card-content-top {
  .fa-xmark {
    // position: relative;
    // padding-top: 8px; here is the conflict
    // padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .iPhone-13-bottom-nav-bar {
    display: flex;
    position: sticky;
    background-color: #FFFFFF;
    // right: 0px; conflict
    bottom: 0px;
  }
}
