<h1>My Profile (Pages#profile)</h1>


<h3>Image?:</h3>

<h3>Award/Rank: ...</h3>

<h2>Username: <%= current_user.username %></h2>

<p>Countries Cooked: .....
Dishes Made: ...
Favorites: .....</p>

<h2>Bio: <%= current_user.bio %></h2>

<h2>Location: <%= current_user.location %></h2>

<h2>Favourite Dish: (ADD CODE HERE)</h2>


<p>possible gallery </p>
