<h1>Favourites</h1>

<% @favourites.each do |f| %>
  <div class="user-favourites-card">
    <%= cl_image_tag f.dish.photo.key, class: 'cl_img' %>
    <p><%= '⭐️' * f.dish.average_rating %></p>
    <p><%= f.dish.title %></p>
    <p><%= f.dish.description %></p>
    <button type='submit' class="btn btn-danger" style="color: white;">-</button>
  </div>
<% end  %>
