<%#
  This 'form' creates a favourite record with the dish and current user IDs if the
%>
<div class='add-to-favourites'>
  <%= simple_form_for [@dish, @favourite] do |f| %>

    <% if (Favourite.where("dish_id = ? and user_id = ?", @dish, current_user)).exists? %>

      <%# Link to deatroy in fav controll %>
      <button type="submit" class="btn" title="favourite">
        <i style="color:red;" class="fa-solid fa-heart"></i>
      </button>

    <% else %>
      <%# Link to create in fav controll %>
      <button type="submit" class="btn" title="favourite">
        <i class="fa-regular fa-heart"></i>
      </button>


    <% end %>
  <% end %>
</div>
