<div class="iPhone-13-bottom-navbar">

  <ul class="bottom-nav-bar-list">

    <a href="/"><li><i style="color: #ff4b8e" class="fa-solid fa-house fa-2x"></i></li></a>

    <a href="/favourites"><li><i style="color: #261127" class="fa-solid fa-heart fa-lg"></i></li></a>

    <a href="#"><li><i style="color: #261127" class="fa-solid fa-kitchen-set fa-lg"></i></li></a>

    <a href="#"><li><i style="color: #261127" class="fa-solid fa-music fa-lg"></i></li></a>


    <% if user_signed_in? %>
      <a href="<% user_path(current_user) %>"><li><i style="color: #261127" class="fa-solid fa-user fa-lg"></i></li></a>
    <% else %>
      <a href="/users/sign_in"><li><i style="color: #261127" class="fa-solid fa-user fa-lg"></i></li></a>
    <% end %>
  </ul>

    <ul class="music-btn-list">
    <div data-controller="music-player">
      <%= audio_tag "peru_track.mp3", data: { music_player_target: "audio"} %>
      <a href="#"><li><div class="music-btn"  data-action="click->music-player#audioplay"></div></li></a>
    </div>
  </ul>

</div>
