<%# This 'form' creates a favourite record with the dish and current user IDs if combination not exist%>

<div class='add-to-favourites'>
  <% if user_signed_in? %>
    <%= simple_form_for [@dish, @favourite] do |f| %>
      <% if current_user.favourites.where(dish_id:@dish).exists? %>
        <%= button_tag(type: 'submit', class: 'btn') do %>
          <i style="color:crimson;" class="fa-solid fa-heart"></i>
        <% end %>
      <% else %>
        <%= button_tag(type: 'submit', class: 'btn') do %>
          <i class="fa-regular fa-heart" data-controller="heart" data-action="click->heart#colorHeart"></i>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%#  %>
  <% end %>
</div>
