.iPhone-13-container-colour {
  background-image: linear-gradient(to bottom right, #F5F5EE, #F4F5DB);
}

.dish-card-simple-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 8px;
}

.dish-card-simple {
  background-color: white;
  padding: 6px 6px;
  opacity: 0.8;
  border-radius: 25px;
  box-shadow: 2px 2px 2px #888888;
  display: flex;
  justify-content: space-between;

  h4 {
    width: 85%;
    margin-top: 6px;
    margin-left: 16px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #261127;
  }

  .dish-card-btn{

  }
}






.card-dish-infos {
  font-family: 'Raleway', sans-serif;
}

.card-small-dish img {
  width: 90%;
}

.card-lists {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 17px;
  margin-bottom: 17px;
  padding: 3px;
  border-radius: 12px;
  position: relative;
  left: -45px;
  width: 328px;
  box-shadow: 2px 2px 2px #888888;
}

.checkbox {
  position: absolute;
  right: 15px;
  top: 17px;
}

.ingredient-list {
  width: 80%;
  margin: 0 auto;
}

.text {
  position: relative;
  top: 9px;
}

.card-small-dish {
  margin: 25px;
}

.btn-success {
  position: relative;
  right: -155px;
}
