.iPhone-13{
  background-image: linear-gradient(to bottom right, #75F864, #99F88D);
}

.card-dish-infos {
  font-family: 'Raleway', sans-serif;
}

.card-lists {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 17px;
  margin-bottom: 17px;
  padding: 3px;
  border-radius: 12px;
  position: relative;
  left: -45px;
  width: 328px;
  box-shadow: 2px 2px 2px #888888;
}

.checkbox {
  position: absolute;
  right: 15px;
  top: 17px;
}

.ingredient-list {
  width: 80%;
  margin: 0 auto;
}

.text {
  position: relative;
  top: 9px;
}

.card-small-dish {
  margin: 25px;
}

.btn-success {
  position: relative;
  right: -155px;
}
