// dishes#show page

// $base-color: #c6538c;
// $border-dark: rgba($base-color, 0.88);

.card {
  width: 392px;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  border: none;

  .dish-img{
    height: 310px;

    p {
      margin-left: 20px;
    }
    .cl_img {
      width: 392px;
      height: 300px;
      border-radius: 0px 0px 30px 40%;
      box-shadow: 0px 4px 4px rgba(128,128,128,0.5);

    }
    .btn {
      border-radius: 50%;
      box-shadow: 2px 2px 2px #888888;
      width: 30px;
      height: 30px;
      padding: 0;
      position: relative;
      bottom: 286px;
      left: 355px;
      background-color: white;
    }
  }

  .title-rating {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 19px;
    margin-bottom: 4px;
    text-shadow:  1px 1px 1px rgba(128,128,128,0.3);


    .rating {
      border: 1px solid rgba(128,128,128,0.3);
      border-radius: 30px;
      display: flex;
      position: relative;
      bottom: 3px;

      .icon {
        padding-left: 6px;
        padding-right: 3px;
        color: rgb(239,200,9);
      }

      .number {
        padding-right: 6px;
      }
    }

    h2 {
      margin-right: 10px;
    }
  }

  .dish-stats {
    .list{
      display: flex;

      border: 1px solid rgba(128,128,128,0.3);
      border-radius: 15px;
      margin-left: 43px;
      margin-right: 43px;
      justify-content: space-evenly;
      text-align: center;
      padding: 7px 0px;

      .piece {
        text-align: center;
      }

      p {
        color: rgba(128,128,128,0.8);
        margin: 2px;
      }

      span {
        color: rgb(138,247,123);
      }
    }

    p {
      margin: 20px 20px;
      border-bottom: 1px solid rgba(128,128,128,0.5);
      padding-bottom: 10px;
      // use id in corresponding if wanting rid of the bottom border on upper box
    }
  }

  .dish-flag-history {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;

    .cl_img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-left: 15px;
    }

    h4 {
      margin-left: 20px;
      padding-top: 10px;
    }

    p {
      margin: 10px 20px;
      border-bottom: 1px solid rgba(128,128,128,0.5);
      padding-bottom: 16px;
    }
  }
}

.reviews {
  margin-left: 20px;
}
