// dishes#show page

// $base-color: #c6538c;
// $border-dark: rgba($base-color, 0.88);

// background-color: #E1F8DE;

// nav-btn-color: #261127;

// screen width-size min 374px

.iPhone-13-container {
  width: 100%;
  height: 768px;
  background-color: #FFFFFF;
  overflow: scroll;
}

.iPhone-13-container .my-favourites {
  text-align: center;
}

.dish-img-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 18px;
  width: 86%;
  margin: 0 auto;
  margin-bottom: -32px;

  button {
    width: 0px;
    height: 0px;
    background-color: white !important;
    padding: 0px;
    border: 0px !important;
  }

  .dish-heart-item {
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #888888;
    transition: all 0.4s ease;
    opacity: 0.85;
  }

  .dish-heart-item-login {
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 3px 0px 3px #888888;
    transition: all 0.4s ease;
    opacity: 0.85;
  }

  .dish-heart-item .fa-solid {
    color: rgb(220,20,60);
  }

  .dish-heart-item-user .fa-solid {
    color: rgb(220,20,60);
  }

  .dish-heart-item-login a {
    position: relative;
    top: 5px;
    left: 8px;
  }

  .dish-fa-heart {
    color: #261127;
    position: relative;
    top: 6px;
    left: 0px;
  }

  .dish-fa-heart-login {
    color: #261127;
  }

  .dish-refresh-btn {
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #888888;
    transition: all 0.4s ease;
    opacity: 0.85;
  }

  .dish-refresh-btn a {
    position: relative;
    top: 5px;
    left: 9px;
    color: #261127;
  }

  .dish-heart-item-user {
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #888888;
    transition: all 0.4s ease;
    opacity: 0.85;
    position: relative;
    top: -20px;
    right: 26px;
    margin-right: 10px;
  }
}

.dish-card-container {
  width: 100%;
  margin-bottom: 12px;
}

.dish-card-img-container {
  height: 310px;
  object-fit: cover;
}

.cl_img {
  width: 100%;
  height: 310px;
  // box-shadow: 2px 2px 2px #888888;
  // margin-bottom: -10px;
}

.dish-card-img-curve {
  position: relative;
  bottom: 80px;
}

.btn-choose {
  padding: 10px 16px;
  background-color: rgb(220,20,60);
}

.dish-infos {
  margin-top: 20px;
}

.dish-infos hr {
  width: 90%;
  margin: 16px auto;
}

.title-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 12px;
  margin-bottom: 4px;

  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #261127;
    width: 80%;
    height: 100%;
    margin: auto;
  }

  .rating {
    background-color: white;
    padding: 4px 8px;
    border: 1px solid rgba(128,128,128,0.3);
    border-radius: 30px;
    display: flex;
    font-family: 'Raleway', sans-serif;
    color: #261127;

    .icon {
      padding-left: 2px;
      padding-right: 4px;
      color: rgb(239,200,9);
    }

    .number {
      position: relative;
      top: -1px;
      padding-right: 4px;
      padding-bottom: 2px;
    }
  }
}

.dish-categories {
  display: flex;
  margin-left: 18px;
  width: 80%;
  margin-bottom: 8px;
}

.dish-categories h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #888888;
  margin-right: 6px;
}

.dish-stats {

  .list{
    display: flex;
    border: 1px solid rgba(128,128,128,0.3);
    border-radius: 24px;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-evenly;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 8px 0px;

    hr{
      margin: 2px 0px;
    }

    .piece {
      text-align: center;
    }

    p {
      color: rgba(128,128,128,0.8);
      font-weight: 600;
      margin: 2px;
    }

    span {
      color: black;
      padding-top: 8px;
    }
  }

  p {
    margin: 20px 20px 4px 20px;
    padding-bottom: 4px;
    // border-bottom: 1px solid rgba(128,128,128,0.5);
    // use id in corresponding if wanting rid of the bottom border on upper box
  }
}

.dish-description {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding-bottom: 0px;
}

.choose-dish-btn {
  width: fit-content;
  margin: 4px auto;
}

.btn-choose {
  background-color: #9595F5;
  padding: 10px 16px;
  border-radius: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-align: center;
  margin: 2px auto;
  transition: ease 0.4s;
}

.btn-choose:hover {
  background-color: #BDBDF5 !important;
  padding: 10px 16px;
  border-radius: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white !important;
  text-align: center;
  margin: 2px auto;
}

.dish-flag-history {
  display: flex;
  // flex-flow: wrap;
  justify-content: space-between;
  width: 90%;

  .dish-flag-country {
    display: flex;
  }

  .cl_img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 4px;
    margin-left: 25px;
    object-fit: cover;
  }

  h4 {
    margin-left: 16px;
    padding-top: 8px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
  }

  // .fa-caret-down {
    // position: relative;
    // right: -120px;
  // }

  // .fa-caret-up {
    // position: relative;
    // top: 2px;
    // right: -120px;
  // }
}

.d-none {
  display: none;
}

.dish-flag-country-drop {
  width: 100%;
  margin: 0 auto;

  p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
  }

  hr {
    width: 90%;
  }
}

.dish-show-reviews-container {
  display: flex;
  // flex-flow: wrap;
  justify-content: space-between;
  width: 90%;

    .dish-show-reviews {
      display: flex;
    }

    h4 {
      margin-left: 10px;
      padding-top: 8px;
      font-family: 'Raleway', sans-serif;
      font-size: 18px;
      font-weight: 400;
    }

    .fa-star {
      margin-top: 4px;
      margin-left: 25px;
      color: gold;
    }

    p {
      margin-left: 16px;
      padding-top: 8px;
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
      font-weight: 400;
    }
}

.dish-show-reviews-item {
  width: 100%;
  margin: 0 auto;

  p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
  }
}

.dish-reviews-card {
  width: 90%;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 10px;
  display: flex;
  background-color: #F5F5EE;
  border-radius: 15px;
  box-shadow: 1px 1px 2px #888888;

  img {
    width: 90px;
    height: 90px;
    margin: 10px;
    border-radius: 15px;
    object-fit: cover;
  }

  .dish-reviews-card-content {
    margin-left: 6px;
    padding-top: 12px;

    h4 {
      font-family: 'Raleway', sans-serif;
      font-size: 16px;
      font-weight: 600;
      padding-bottom: 6px;
      width: 90%;
    }

    hr {
      width: 192px;
      margin-top: -4px;
      margin-bottom: 12px;
    }

    h6 {
      font-family: 'Raleway', sans-serif;
      font-size: 13px;
      font-weight: 400;
      margin-left: 4px;
    }

    .fa-star {
      color: gold;
      letter-spacing: -2px;
    }

    .dish-reviews-card-content-top {
      display: flex;
      justify-content: space-between;
      width: 220px;
    }
  }
}
