// dishes#show page

.card {
  width: 392px;
  margin: auto;
  font-family: 'Raleway', sans-serif;

  .cl_img {
    width: 390px;
  }

  .title-rating {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;


    .rating {
      border: 1px solid grey;
      border-radius: 30px;
      display: flex;

      .icon {
        padding-left: 6px;
        padding-right: 3px;
        color: rgb(239,200,9);
      }

      .number {
        padding-right: 6px;
      }
    }

    h2 {
      margin-right: 10px;
    }
  }

  .dish-stats {
    .list{
      border: 1px solid grey;
      border-radius: 25px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
