// dishes#show page

.card {
  width: 392px;
  margin: auto;
  font-family: 'Raleway', sans-serif;

  .cl_img {
    width: 390px;
  }

  .title-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .rating {
      border: 1px solid black;
      border-radius: 30px;
      display: flex;

      // .p{
      //   margin: auto;
      // }

      // .fa-solid {
      //   // padding-top: 10px;
      // }
    }
  }
}
