<h1>My Profile (Pages#Home)</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h3>Image?:</h3>

<h2>Username: <%= @user.username %></h2>

<h2>Location: <%= @user.location %></h2>

<h2>Bio: <%= @user.bio %></h2>
