<h1> <%= @dish.title %></h1>

<h2>Ingredients</h2>

<ul>
  <% @dish.ingredients.each do |i| %>
  <li>
  <%= i %>
  <% end %>
  </li>
</ul>

<%= link_to "< Back", :back, class:"btn btn-primary" %>
<%= link_to "> Next", dish_recipes_path(@dish), class:"btn btn-success" %>
