.iPhone-13-bottom-nav-bar {
  width: 392px;
  margin: 0 auto;
  position: relative;
  bottom: 0;
  background-color: white;
  height: 76px;
}

.bottom-nav-bar-list {
  padding: 22px 20px;
  list-style: none;
  text-align: center;
}

.bottom-nav-bar-list li {
  display: inline;
  vertical-align: middle;
  margin: 0px 20px;
}
