.iPhone-13-spacing {
  background-color: white;
  height: 64px;
}

.iPhone-13-spacing-colour {
  background-color: #F4F4DF;
  height: 64px;
}

.iPhone-13-show-spacing {
  background-color: white;
  height: 8px;
}

@media (max-width: 480px) {
  .Phone-13-bottom-nav-bar {
    width: 100%;
    position: sticky;
    bottom: 0;
    background-color: white;
    height: 64px;
    border-top: 0.5px solid #888888;
  }
}

@media (min-width: 480px) {
  .iPhone-13-bottom-nav-bar {
    width: 390px;
    position: fixed;
    top: 762px;
    background-color: white;
    height: 64px;
    border-top: 0.5px solid #888888;
  }
}

.bottom-nav-bar-list {
  padding: 12px 0px;
  list-style: none;
  text-align: center;
}

.bottom-nav-bar-list li {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 24px;
}

.music-btn-list {
  display: inline-block;
  list-style: none;
}

@media (min-width: 480px) {
  .music-btn {
    background-color: black;
    opacity: 0;
    width: 50px;
    height: 32px;
    position: absolute;
    bottom: 18px;
    right: 88px;
  }
}

@media (max-width: 480px) {
  .music-btn {
    background-color: black;
    opacity: 0.4;
    width: 50px;
    height: 32px;
    position: relative;
    bottom: 62px;
    left: 10px;
    display: flex;
  }
}

.music-btn-list {
  width: 0px;
  height: 0px;
}
