.navbar {
  height: 76px;
}

.navbar-lewagon {
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-bar-top {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}

.nav-item {
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
}

.nav-link {
  position: absolute !important;
  top: 6px;
  left: -50px;
}

.avatar {
  position: absolute !important;
  top: 6px;
  left: -48px;
}

.dropdown-menu.show {
  position: inherit !important;
  top: 50px;
}
