// .iPhone-13x {
//   width: 392px;
//   margin: 0 auto;
// }

// .mark-as-complete button{
//   width: 40px;
//   height: 40px;
//   padding: 0px;
//   // border: solid 1px;
//   // border-radius: 50%;
// }

// .mark-as-complete {
//   margin: 0;
//   display: flex;
//   align-items: center;
//   color: #282d33;
// }


.add-to-favourite {
  display: flex;
  justify-content: center;
  align-items: center;

  h4 {
    margin: 0px;
  }
//   width: 40px;
//   height: 35px;
//   padding: 0px;
//   margin-left: 10px;
//   // border: solid 1px;
//   // border-radius: 50%;
}

// .add-to-favourite {
//   margin: 0;
//   display: flex;
//   align-items: center;
//   color: #282d33;
// }

.row abbr {
  display: none;
}
