// .iPhone-13x {
//   width: 392px;
//   margin: 0 auto;
// }

// .mark-as-complete button{
//   width: 40px;
//   height: 40px;
//   padding: 0px;
//   // border: solid 1px;
//   // border-radius: 50%;
// }

// .mark-as-complete {
//   margin: 0;
//   display: flex;
//   align-items: center;
//   color: #282d33;
// }


.picture-card {
  width: 90%;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 2px 2px 2px #888888;
  height: 300px;
  background-color: #F5F5EE;
  margin-bottom: 10px
}

.add-to-favourite {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px

  h4 {
    margin: 0px;
  }
  //   width: 40px;
  //   height: 35px;
  //   padding: 0px;
  //   margin-left: 10px;
  //   // border: solid 1px;
  //   // border-radius: 50%;
}

.review-container {
  width: 90%;
  border-radius: 15px;
  box-shadow: 2px 2px 2px #888888;
  background-color: #F5F5EE;
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-top: 10px;
}

[data-star-rating] {
  margin-top: -23px;
}

.share-box {
  width: 90%;
  border-radius: 15px;
  box-shadow: 2px 2px 2px #888888;
  background-color: #F5F5EE;
  padding-top: 10px;
  padding-bottom: 10px;

}

[data-star-rating] {
  margin-top: -23px;
}

.share-box {
  width: 90%;
  border-radius: 15px;
  box-shadow: 2px 2px 2px #888888;
  background-color: #F5F5EE;
  padding-top: 10px;
  padding-bottom: 10px;
  .share-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: -6px;
  }
}

.fb_iframe_widget_fluid {
  display: flex !important;
}

.fb_iframe_widget {
  position: relative;
  left: -5px;
}
// .add-to-favourite {
//   margin: 0;
//   display: flex;
//   align-items: center;
//   color: #282d33;
// }

.row abbr {
  display: none;
}
