// .iPhone-13x {
//   width: 392px;
//   margin: 0 auto;
// }

// .mark-as-complete button{
//   width: 40px;
//   height: 40px;
//   padding: 0px;
//   // border: solid 1px;
//   // border-radius: 50%;
// }

// .mark-as-complete {
//   margin: 0;
//   display: flex;
//   align-items: center;
//   color: #282d33;
// }
.dish-fa-heart-login {
  color: black;

}

.picture-card {
  width: 90%;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 2px 2px 2px #888888;
  height: 300px;
  background-color: #F5F5EE;
  margin-bottom: 10px
}

.add-to-favourite {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 12px;

  h4 {
    margin: 0px;
    margin-right: 4px;
    font-family: 'Raleway', sans-serif;
  }
  //   width: 40px;
  //   height: 35px;
  //   padding: 0px;
  //   margin-left: 10px;
  //   // border: solid 1px;
  //   // border-radius: 50%;
}

.review-container {
  width: 90%;
  border-radius: 15px;
  box-shadow: 2px 2px 2px #888888;
  background-color: white;
  margin-bottom: 30px;
  padding-bottom: 25px;
  padding-top: 20px;
  font-family: 'Raleway', sans-serif;

  row {
    width: 90%;
    margin: 0 auto;
  }
}

[data-star-rating] {
  margin-top: -23px;
}

.share-box {
  width: 90%;
  border-radius: 15px;
  box-shadow: 2px 2px 2px #888888;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

[data-star-rating] {
  margin-top: -23px;
}

.share-box {
  width: 90%;
  border-radius: 15px;
  box-shadow: 2px 2px 2px #888888;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;

  .share-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

    .fa-instagram {
      color: transparent;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      background-clip: text;
      -webkit-background-clip: text;
    }
  }
}

.fb_iframe_widget_fluid {
  display: flex !important;
}

.fb_iframe_widget {
  position: relative;
  left: -5px;
}
// .add-to-favourite {
//   margin: 0;
//   display: flex;
//   align-items: center;
//   color: #282d33;
// }

.row abbr {
  display: none;
}

.dish-heart-btn-review {
  background-color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 2px 1px 1px #888888;
  transition: all 0.4s ease;
  opacity: 0.85;
}

.dish-heart-item-user-review{
  position: relative;
  top: -3px;
  left: -4px;
}

.heart-zzz {
  .dish-heart-btn {
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 2px 1px 1px #888888;
    transition: all 0.4s ease;
    position: relative;
    bottom: 5px;
    opacity: 0.85;
    display: flex;
    justify-content: center;
  }
  .dish-heart-item-login a {
    text-decoration: none;
    align-items: center;
    display: flex;
    position: relative;
    top: 8px;
  }
}
