<div class="iPhone-13x">
  <br>

  <%# ---- Add to fav header and button ---------------- %>
  <div class="add-to-favourite">
    <h4>Add to Favourites</h4>
      <%= render partial: 'shared/review_favourite', favourite: @favourite %>
    </div>
  </div>

  <br>

  <%# ---- Star rating header and buttons -------------- %>
  <div  class='dish-star-rating'>
    <h5>How was the experience and the meal?</h5>
  </div>
  <%= render "shared/bottom_navbar" %>
</div>
