.iPhone-13-container-colour {
  background-image: linear-gradient(to bottom right, #F5F5EE, #F4F5DB);
}

.iPhone-13-spacing-colour {
  background-color: #F4F5DB;
  height: 64px;
}

.user-container {
  width: 80%;
  margin: 0 auto;
}

.user-profile-pic {
  padding: 24px;
}

.award-avatar i {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  position: relative;
  top: -35px;
  right: -154px;
  box-shadow: rgb(136, 136, 136) 1px 1px 1px;
}

.user-profile-pic img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border: 6px solid white;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #888888;
}

.user-username h2 {
  text-align: center;
  color: #261127;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}


.user-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 6px 0px;
  position: relative;
  margin: 40px -27px;
}

.user-stats-circle {
  background-color: white;
  width: 98px;
  height: 98px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #888888;
  margin: 0px 12px 0px 12px;
}

.user-stats-circle p {
  position: relative;
  top: 24px;
  color: #261127;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 100%;
}

.user-stats-circle h6 {
  position: relative;
  top: 14px;
  color: #99F88D;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-align: center;
}

.user-stats-circle-0 {
  background-color: white;
  width: 98px;
  height: 98px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #888888;
  margin: 0px 12px 0px 12px;
}

.user-stats-circle-0 p {
  position: relative;
  top: 32px;
  color: #261127;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  line-height: 100%;
}

.user-stats-circle-0 h6 {
  position: relative;
  top: 22px;
  color: #99F88D;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-align: center;
}


.user-infos {
  margin: 35px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

// .user-basic {
//   width: 160px;
// }

.user-basic h6 {
  color: #261127;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.user-basic p {
  color: #261127;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
}

.user-awards {
  overflow: hidden;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fa-burger {
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin-top: 4px;
}

.user-awards-infos p {
  color: #261127;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  margin-top: 4px;
  margin-left: 4px;
}

.user-tab {
  position: relative;
  bottom: -90px;
  width: 390px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #C8FFC1;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 2px 2px 2px #888888;
}

.user-tab h2 {
  text-align: center;
  color: #261127;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.user-tab p {
  margin: 14px 20px 10px 20px;
  color: #261127;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
}

.user-tab hr {
  width: 90%;
  margin: 0 auto;
}

.tab-new-position {
  position: relative;
  bottom: -46px;
  width: 390px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #C8FFC1;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 2px 2px 2px #888888;
}

.btn-back {
  background-color: #AAAA70;
  padding: 8px 12px;
  border-radius: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  font-weight: 600;
  color: white;
  text-align: center;
  margin: 2px auto;
  transition: ease 0.4s;
}

.btn-back:hover {
  background-color: #BCBC7C !important;
  padding: 8px 12px;
  border-radius: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  font-weight: 600;
  color: white !important;
  text-align: center;
  margin: 2px auto;
}

.awards-container {
  width: 160px;
}

.award {
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ul-award {
  padding-left: 0px;
}

.award-header {
  font-size: 36px;
  padding: 5px;
}

.award-title {
  font-weight: bold;
}

.award h6 {
  margin-bottom: 1px;
  font-size: 13px;
}

.award p {
  margin-bottom: 4px;
  font-size: 11px;
}

.card-award {
  overflow: hidden;
  height: 73px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.fa-hippo {
  color: #f595da;
}

.fa-hat-cowboy-side {
  color: saddlebrown;
}

.fa-scroll {
  color: goldenrod;
}
